body {
  margin: 10vh;
}
.dashboard {
  left: 900px;
  margin: 2vh;
}

table {
  margin: 2vh;
  height: 51vh;
  width: 51vh;
  box-shadow: 0vh 0vh 1vh 1vh #d3d3d3;
}

td {
  width: 16.5vh;
  height: 16.5vh;
  padding: 0vh;
  border: 0.1vh solid #d3d3d3;
  display: inline-block;
}

tr {
  align-self: center;
}

#newRows {
  width: 10%;
}

.start {
  margin: 0vh 1vh 0vh 1vh;
}

.message {
  position: fixed;
  left: 70vh;
  top: 20vh;
}

.message .red {
  color: #990000;
}

.message .blue {
  color: #0147FA;
}

img {
  padding: 3vh 0vh 1vh 3.3vh;
  margin: 0vh;
  width: 10vh;
  height: 10vh;
}

.alert {
  margin-top: 3vh;
  color: red;
}